doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='bower_components/three.js/build/three.min.js')
    script(src='public/Javascripts/script.js')
  body
    canvas(id='canvas')
    
    
